<!DOCTYPE HTML>
<!--
	Justice by freehtml5.co
	Twitter: http://twitter.com/fh5co
	URL: http://freehtml5.co
-->
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
		Talento Center
	</title>
	<link rel="shortcut icon" href="{{url_for('static', filename='images/Logo.png')}}">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords"
		content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400, 900" rel="stylesheet"> -->

	<!-- Animate.css -->

	<!-- <link rel="stylesheet" href="/templates/css/animate.css"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<!-- <link rel="stylesheet" href="/templates/css/icomoon.css"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
	<!-- Themify Icons-->
	<!--<link rel="stylesheet" href="/templates/css/themify-icons.css"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css')}}">
	<!-- Bootstrap  -->
	<!-- <link rel="stylesheet" href="/templates/css/bootstrap.css"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<!-- Magnific Popup -->
	<!-- <link rel="stylesheet" href="/templates/css/magnific-popup.css"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}">
	<!-- Owl Carousel  -->
	<!-- <link rel="stylesheet" href="/templates/css/owl.carousel.min.css"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }} ">
	<!-- <link rel="stylesheet" href="/templates/css/owl.theme.default.min.css"> -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/owl.theme.default.min.css')}}">
	<!-- Flexslider -->
	<link rel="stylesheet" href=" url_for('static', filename='css/flexslider.css') }}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css' )}}">

	<!-- Modernizr JS -->
	<script src="{{ url_for('static',filename='js/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<div class="gtco-loader">

	</div>


	<div id="page">

		<nav class="gtco-nav" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-sm-10 col-xs-10">
						<div id="gtco-logo">
							<a href="#">
								<!--<img src="images/Logo.png" alt="" width="170px" height="95px">-->
								<img src="{{url_for('static',filename='images/Logo.png')}}" alt="" width="170px"
									height="95px">


						</div>
						<div class="col-xs-15 text-right menu-1 main-nav">
							<ul>
								<li class="active"><a href="#" data-nav-section="home">inicio</a></li>
								<li><a href="#" data-nav-section="about">Acerca de</a></li>
								<li><a href="#" data-nav-section="practice-areas">Servicios</a></li>
								<li><a href="#" data-nav-section="our-team">Nuestro equipo</a></li>
								<li class="btn-cta">
									<a href="#" data-nav-section="contact"><span>Contáctanos</span></a>
								</li>
								<li class="btn-cta">
									<a href="/admin/login" class="external">
										<span>Inicia Sesion</span>
									</a>
								</li>
								<!-- For external page link -->
								<!-- <li><a href="http://freehtml5.co/" class="external">External</a></li> -->
							</ul>
						</div>
					</div>

				</div>
		</nav>

		<section id="gtco-hero" class="gtco-cover" style="background-image: url(/static/images/img_phy.jpg)"
			data-section="home" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-center">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box" data-animate-effect="fadeIn">Centro Psicológico Talento Center
								</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="gtco-about" data-section="about">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
						<h1>Sobre Nosotros</h1>
						<p class="sub">Somos un centro psicologico Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Sapiente suscipit ducimus odio assumenda dolore quae eaque cum, tenetur natus minus.
							Dolore reprehenderit corporis, expedita consequatur itaque est nesciunt fuga rerum!
							Rerum tempore voluptatum maiores modi voluptate tenetur, suscipit corrupti. Optio voluptates
							eveniet nulla expedita repudiandae rem cumque sunt recusandae molestiae. In quam quod
							voluptatibus distinctio ipsum explicabo quidem nihil sed.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
						<div class="img-shadow">
							<img src="{{ url_for('static', filename='images/img_1.jpg') }}" class="img-responsive"
								alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						</div>
					</div>
					<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
						<h2 class="heading-colored">Experiencia</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut praesentium nihil hic
							quam culpa magnam ducimus suscipit repellat quidem cumque, unde impedit, labore earum
							eligendi perspiciatis nemo molestiae sequi veritatis. Veritatis, reprehenderit, eaque!
							Rerum, libero ipsam enim, iusto adipisci quae repellendus officia consequatur ducimus
							cupiditate impedit, aliquam numquam excepturi.</p>
					</div>
				</div>
			</div>
		</section>

		<section id="gtco-practice-areas" data-section="practice-areas">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
						<h1>Nuestros Servicios</h1>
						<p class="sub">Podemos ayudarte de diferentes maneras aaaaaaaaaaaaaaaaaaaaaaaa</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="gtco-practice-area-item animate-box">
							<div class="gtco-icon">
								<img src="{{ url_for('static',filename='images/psicologia.png') }}"
									alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
							</div>
							<div class="gtco-copy">
								<h3>Cita Tipo 1</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque
									sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget
									ornare tortor leo eget erat. </p>
							</div>
						</div>

						<div class="gtco-practice-area-item animate-box">
							<div class="gtco-icon">
								<img src="{{ url_for('static',filename='images/psicologia.png') }}"
									alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
							</div>
							<div class="gtco-copy">
								<h3>Cita Tipo 2</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque
									sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget
									ornare tortor leo eget erat. </p>
							</div>
						</div>
					</div>
					<div class="col-md-6">

						<div class="gtco-practice-area-item animate-box">
							<div class="gtco-icon">
								<img src="{{ url_for('static',filename='images/psicologia.png') }}"
									alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
							</div>
							<div class="gtco-copy">
								<h3>Cita Tipo 3</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque
									sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget
									ornare tortor leo eget erat. </p>
							</div>
						</div>

						<div class="gtco-practice-area-item animate-box">
							<div class="gtco-icon">
								<img src="{{ url_for('static',filename='images/psicologia.png') }}"
									alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
							</div>
							<div class="gtco-copy">
								<h3>Cita Tipo 4</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque
									sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget
									ornare tortor leo eget erat. </p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

		<section id="gtco-our-team" data-section="our-team">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
						<h1>Nuestro Equipo de Trabajo</h1>
						<p class="sub">Contamos con un equipo de amplia experiencia
							lahdfaoihsfoaihsfoiashfoaishfoahofiahsoifhasohfaohfaios.</p>
					</div>
				</div>
				<div class="row team-item gtco-team-reverse">
					<div class="col-md-6 col-md-push-7 animate-box" data-animate-effect="fadeInRight">
						<div class="img-shadow">
							<img src="{{ url_for('static', filename='images/img_team_1.jpg') }}" class="img-responsive"
								alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						</div>
					</div>
					<div class="col-md-6  col-md-pull-6 animate-box" data-animate-effect="fadeInRight">
						<h2>Dra. Lala </h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus aliquid maiores,
							voluptatum ex. Accusantium, eum distinctio laudantium. Perferendis dolor, corporis quasi?
							Tempore quod molestiae quis cumque pariatur dolore vel sit, fugit delectus quasi
							reprehenderit officia voluptate incidunt, culpa odit impedit qui dolorum fugiat. Quidem
							possimus reprehenderit, quae recusandae voluptatibus magnam!</p>
					</div>
				</div>

				<div class="row team-item gtco-team">
					<div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
						<div class="img-shadow">
							<img src="{{ url_for('static',filename='images/img_team_2.jpg') }}" class="img-responsive"
								alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						</div>
					</div>
					<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
						<h2>Dra. Lalala</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus aliquid maiores,
							voluptatum ex. Accusantium, eum distinctio laudantium. Perferendis dolor, corporis quasi?
							Tempore quod molestiae quis cumque pariatur dolore vel sit, fugit delectus quasi
							reprehenderit officia voluptate incidunt, culpa odit impedit qui dolorum fugiat. Quidem
							possimus reprehenderit, quae recusandae voluptatibus magnam!</p>
					</div>
				</div>

			</div>
		</section>

		<section id="gtco-contact" data-section="contact">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
						<h1>Contactános</h1>
						<p class="sub">Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias
							autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
				<!--
			<div class="row">
				<div class="col-md-6 col-md-push-6 animate-box">
					<form action="#">
						<div class="form-group">
							<label for="name" class="sr-only">Name</label>
							<input type="text" class="form-control" placeholder="Name" id="name">
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="text" class="form-control" placeholder="Email" id="email">
						</div>
						<div class="form-group">
							<label for="message" class="sr-only">Message</label>
							<textarea name="message" id="message" class="form-control" cols="30" rows="7" placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Send Message" class="btn btn-primary">
						</div>
					</form>
				</div>
				<div class="col-md-4 col-md-pull-6 animate-box">
					<div class="gtco-contact-info">
						<ul>
							<li class="address">198 West 21th Street, Suite 721 New York NY 10016</li>
							<li class="phone"><a href="tel://1235235598">+ 1235 2355 98</a></li>
							<li class="email"><a href="mailto:info@yoursite.com">info@example.com</a></li>
							<li class="url"><a href="#">http://example.com</a></li>
						</ul>
					</div>
				</div>
			</div> -->


				<div class="wrapper wrapper--w960">
					<div class="card card-2">
						<div class="card-heading"></div>
						<div class="card-body">
							<h2 class="title">Registro de Citas</h2>
							{% with messages = get_flashed_messages() %}
							{% if messages %}
							{% for message in messages %}
							<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
								<div class="modal-dialog modal-sm" role="document">
								  <div class="modal-content">
									{{message}}
								  </div>
								</div>
							  </div>
							{% endfor %}
							{% endif %}
							{% endwith %}
							<form action="/new_user" method="POST">
								<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
								<div class="row row-space">
									<div class="col-2">
										<div class="input-group">
											<input class="input--style-2" type="text" placeholder="Nombres" name="name">
										</div>
									</div>
									<div class="col-2">
										<div class="input-group ">
											<input class="input--style-2" type="text" placeholder="Apellidos"
												name="apellidos">
										</div>
									</div>
								</div>

								<div class="row row-space">
									<div class="col-2">
										<div class="input-group">
											<input class="input--style-2" type="date" name="fecha">
										</div>
									</div>
									<div class="col-2">
										<div class="input-group">
											<input class="input--style-2" type="time" name="hora">
										</div>
									</div>
								</div>
								<div class="row row-space">
									<div class="col-2">
										<div class="input-group">
											<input class="input--style-2" type="number" placeholder="Telefono"
												name="telefono">
										</div>
									</div>
									<div class="col-2">
										<div class="input-group">
											<input class="input--style-2" type="number" placeholder="DNI" name="dni">
										</div>
									</div>
								</div>
								<div class="input-group">
									<input class="input--style-2" type="mail" placeholder="Correo electronico"
										name="correo">
								</div>
								<div class="p-t-30">
									<button class="btn btn--radius btn--green" type="submit" data-toggle="modal" data-target=".bs-example-modal-sm">Enviar</button>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</section>

		<footer id="gtco-footer" role="contentinfo">
			<div class="container">

				<div class="row copyright">
					<div class="col-md-12">
						<p class="pull-left">
							<small class="block">&copy; 2022 Talento center. Todos los derechos reservados.</small>
						</p>
						<p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
						</p>
					</div>
				</div>

			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static',filename='js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ url_for('static',filename='js/jquery.waypoints.min.js') }}"></script>
	<!-- Stellar -->
	<script src="{{ url_for('static',filename='js/jquery.stellar.min.js') }}"></script>
	<!-- Magnific Popup -->
	<script src="{{ url_for('static',filename='js/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/magnific-popup-options.js') }}"></script>
	<!-- Main -->
	<script src="{{ url_for('static',filename='js/main.js') }}"></script>


</body>

</html>